<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net46" />
  <package id="S22.Imap" version="3.6.0.0" targetFramework="net46" />
  <package id="S22.ImapWithUTF8" version="3.6.1" targetFramework="net46" />
  <package id="S22.Mail" version="1.0.4668.31819" targetFramework="net46" />
  <package id="S22.Pop3" version="1.2.4694.18487" targetFramework="net46" />
</packages>